* {
  font-family: Roboto sans-serif;
}

/* navbar in all html files */

#top-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#top-navbar a,
#top-navbar button {
  margin-top: 1%;
  border: 2px solid black;
  border-radius: 30%;
  background-color: orange;
  color: #000080;
  padding: 2px 8px;
  font: inherit;
  cursor: pointer;
  text-decoration: none;
}

#top-navbar a:hover,
#top-navbar button:hover {
  border: 2px solid green;
  background-color: yellow;
}

/* --------------------------- */

body {
  background-color: darkgrey;
  color: #000080;
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1 {
  color: #D2393E;
  display: flex;
  align-items: center;
  justify-content: center;
}

.special-text {
  color: #00ff59;
  text-decoration: underline;
}

header {
  min-height: 50px;
  margin: 0;
  padding: 0;
}

footer {
  min-height: 50px;
}

/* register.html, login.html */

.form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#register-form,
#login-form {
  border: 1px solid orange;
}

input {
  color: #fff;
  padding: 5px;
}

#username,
#username-login {
  background: linear-gradient(270deg, #4EBAC4, #F53607);
}

#passwd,
#passwd-login {
  background: linear-gradient(to right, #4EBAC4, #F53607);
}

.username-div,
.passwd-div {
  margin-top: 20px;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.75)
}

/* ----------------------------------------------------------- */

/* game.html */

/* Flappy Bird img tags */
#flappy {
  background-color: transparent;
  min-height: 50px;
  max-width: 512px;
  max-height: 512px;
}

#player {
  background-color: transparent;
  max-width: 100px;
  max-height: 100px;
}

/* ---------------------------------- */
/* ---------------------------- */

@media (max-width: 786px) {
  #top-navbar {
    display: grid;
    grid-template-columns: auto auto;

  }

  #flappy {
    background-color: transparent;
    max-width: 30%;
    max-height: 30%;
  }

  #player {
    background-color: transparent;
    max-width: 50px;
    max-height: 50px;
  }
}

/* leaderboard.html */

table {
  margin-top: 2em;
  display: flex;
  justify-content: center;
}

th,
td {
  border: 2px solid black;
}
