* {
  font-family: Roboto sans-serif;
}

#top-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: #000080;
}

#top-navbar a {
  margin-top: 1%;
  margin-right: 10px;
  border: 2px solid black;
  border-radius: 30%;
  background-color: orange;
}

#top-navbar a:hover {
  border: 2px solid green;
  border-radius: 30%;
  background-color: yellow;
}

body {
  background-color: darkgrey;
  color: #000080;
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1 {
  color: #D2393E;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#register-form,
#login-form {
  border: 1px solid orange;
}

input {
  color: #fff;
  padding: 5px;
}

#username,
#username-login {
  background: linear-gradient(270deg, #4EBAC4, #F53607);
}

#passwd,
#passwd-login {
  background: linear-gradient(to right, #4EBAC4, #F53607);
}

.username-div,
.passwd-div {
  margin-top: 20px;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.75)
}

.special-text {
  color: #00ff59;
  text-decoration: underline;
}

#flappy {
  background-color: transparent;
  min-height: 50px;
  max-width: 512px;
  max-height: 512px;
}

#player {
  background-color: transparent;
  max-width: 100px;
  max-height: 100px;
}

@media (max-width: 786px) {
  #top-navbar {
    display: grid;
    grid-template-columns: auto auto;

  }

  #flappy {
    background-color: transparent;
    max-width: 30%;
    max-height: 30%;
  }

  #player {
    background-color: transparent;
    max-width: 50px;
    max-height: 50px;
  }
}

header {
  min-height: 50px;
  margin: 0;
  padding: 0;
}

footer {
  min-height: 50px;
}
